<h1>Rails Airways New Booking</h1>
<% if @flight.nil? %>
	<%= render 'shared/no_search_results' %>
<% else %>
	<%= render :partial => 'flights_table', :locals => { :object => @flight } %>
	<br>
	<%= render 'bookings_form' %>
<% end %>